.cards {
    padding: 80px 0;

    @include media ("<tablet") {
        padding: 120px 0 50px 0;
    }

    &__item {
        background-color: var(--color-bg-secondary);
        border-radius: 12px;
        padding: 44px 30px;
        position: relative;
        overflow: hidden;

        @include media ("<tablet") {
            padding: 30px 14px;
        }
    }

    &__text {
        position: relative;
        z-index: 1;
        @include adaptive-value("font-size", 22, 14, 1);
        font-weight: 500;
        line-height: 120%;

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 14, 4, 1);
        }

        &.top-text {
            @include adaptive-value("font-size", 22, 16, 1);
            color: #E8E8E8;

            [data-theme="light"] & {
                color: $black-text;
            }
        }

        &.bottom-text {
            color: $gray;
        }

    }
}

.cards-top {

    &__content {
        display: flex;
        align-items: center;
        gap: 24px;

        @include media ("<desktop") {
            flex-direction: column;
        }
    }

    &__item {
        height: 424px;

        @include media ("<desktop") {
            width: 100%;
        }

        &:first-child {
            flex: 1 1 740px;

            @include media ("<desktop") {
                flex: auto;
                height: 490px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                overflow: visible;
            }

            @include media ("<tablet") {
                justify-content: flex-end;
            }

            &::before {
                content: '';
                position: absolute;
                bottom: -1%;
                right: 9%;
                background: #C136F39C;
                filter: blur(200px);
                border-radius: 50%;
                width: 316px;
                height: 316px;

                [data-theme="light"] & {
                    display: none;
                }

                @include media ("<tablet") {
                    display: none;
                }
            }

            .cards-top__img {
                position: absolute;
                bottom: 0;
                right: 0;
                max-width: 440px;
                width: 100%;
                height: auto;
                object-fit: cover;
                object-position: center;

                @include media ("<tablet") {
                    max-width: 385px;
                    width: 100%;
                    right: 50%;
                    transform: translateX(50%);
                    bottom: auto;
                    top: -15%;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 40%;
                        background: linear-gradient(0deg, #1C1C1C 50.11%, rgba(28, 28, 28, 0.7) 69.41%, rgba(28, 28, 28, 0) 99.43%);

                        [data-theme="light"] & {
                            background: linear-gradient(0deg, #FFFFFF 49.42%, rgba(255, 255, 255, 0.7) 58.41%, rgba(255, 255, 255, 0) 80.85%);

                        }
                    }
                }
            }

            .cards-top__text {
                max-width: 270px;
                width: 100%;

                @include media ("<tablet") {
                    text-align: center;
                    max-width: 100%;
                }

                &.bottom-text {
                    @include media ("<tablet") {
                        max-width: 260px;
                        margin: 0 auto;
                    }
                }
            }
        }

        &:last-child {
            flex: 1 1 530px;

            @include media ("<desktop") {
                flex: auto;
                height: 415px;
            }

            .cards-top__img {
                position: absolute;
                bottom: 0;
                right: 0;
                max-width: 360px;
                width: 57%;
                height: auto;
                object-fit: cover;
                object-position: center;

                @include media ("<tablet") {
                    width: 80%;
                }
            }


            .cards-top__text {
                max-width: 425px;
                width: 100%;

                @include media ("<tablet") {
                    max-width: 100%;
                    text-align: center;
                }

                &.bottom-text {
                    @include media ("<tablet") {
                        max-width: 315px;
                        margin: 0 auto;
                    }
                }
            }
        }

    }
}