.cards {
    padding: 80px 0;

    @include media ("<tablet") {
        padding: 120px 0 50px 0;
    }

    &__item {
        background-color: var(--color-bg-secondary);
        border-radius: 12px;
        padding: 44px 30px;
        position: relative;
        overflow: hidden;

        @include media ("<tablet") {
            padding: 40px 14px;
        }
    }



    &__text {
        position: relative;
        z-index: 1;
        @include adaptive-value("font-size", 22, 14, 1);
        font-weight: 500;
        line-height: 120%;

        &:not(:last-child) {
            @include adaptive-value("margin-bottom", 14, 4, 1);
        }

        &.top-text {
            @include adaptive-value("font-size", 22, 16, 1);
            color: #E8E8E8;

            [data-theme="light"] & {
                color: $black-text;
            }
        }

        &.bottom-text {
            color: $gray;
        }

    }
}

.cards-top {

    &__content {
        display: flex;
        align-items: center;
        gap: 24px;

        @include media ("<desktop") {
            flex-direction: column;
        }
    }

    &__item {
        height: 424px;

        @include media ("<desktop") {
            width: 100%;
        }

        &:first-child {
            flex: 1 1 740px;

            @include media ("<desktop") {
                flex: auto;
                height: 490px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                overflow: visible;
            }

            @include media ("<tablet") {
                justify-content: flex-end;
            }

            &::before {
                content: '';
                position: absolute;
                bottom: -1%;
                right: 9%;
                background: #C136F39C;
                filter: blur(200px);
                border-radius: 50%;
                width: 316px;
                height: 316px;

                [data-theme="light"] & {
                    display: none;
                }

                @include media ("<tablet") {
                    display: none;
                }
            }

            .cards-top__img {
                position: absolute;
                bottom: 0;
                right: 0;
                max-width: 440px;
                width: 100%;
                height: auto;
                object-fit: cover;
                object-position: center;

                @include media ("<tablet") {
                    max-width: 385px;
                    width: 100%;
                    right: 50%;
                    transform: translateX(50%);
                    bottom: auto;
                    top: -20%;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 30%;
                        background: linear-gradient(0deg, #1C1C1C 50.11%, rgba(28, 28, 28, 0.7) 69.41%, rgba(28, 28, 28, 0) 99.43%);

                        [data-theme="light"] & {
                            background: linear-gradient(0deg, #FFFFFF 49.42%, rgba(255, 255, 255, 0.7) 58.41%, rgba(255, 255, 255, 0) 80.85%);

                        }
                    }
                }
            }

            .cards-top__text {
                max-width: 270px;
                width: 100%;

                @include media ("<tablet") {
                    text-align: center;
                    max-width: 100%;
                }

                &.bottom-text {
                    @include media ("<tablet") {
                        max-width: 260px;
                        margin: 0 auto;
                    }
                }
            }
        }

        &:last-child {
            flex: 1 1 530px;

            @include media ("<desktop") {
                flex: auto;
                height: 415px;
            }

            @include media ("<phone") {
                padding-top: 30px;
            }

            .cards-top__img {
                position: absolute;
                bottom: 0;
                right: 0;
                max-width: 360px;
                width: 57%;
                height: auto;
                object-fit: cover;
                object-position: center;

                @include media ("<tablet") {
                    width: 85%;
                }
            }


            .cards-top__text {
                max-width: 425px;
                width: 100%;

                @include media ("<tablet") {
                    max-width: 100%;
                    text-align: center;
                }

                &.bottom-text {
                    @include media ("<tablet") {
                        max-width: 315px;
                        margin: 0 auto;
                    }
                }
            }
        }

    }
}

.cards-middle {

    @include media ("<tablet") {
        padding: 80px 0;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;

        @include media ("<tablet") {
            flex-direction: column;
        }
    }

    &__img {

        &.light {
            display: none !important;
        }

        [data-theme="light"] & {
            &.dark {
                display: none !important;
            }

            &.light {
                display: block !important;
            }
        }
    }

    &__item {
        &:nth-child(1) {
            flex: 1 1 636px;
            height: 636px;

            @include media ("<tablet") {
                flex: auto;
                height: 384px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                overflow: visible;
                text-align: center;
            }

            .cards-middle__img {
                position: absolute;
                bottom: 0;
                right: 50%;
                transform: translateX(50%);
                max-width: 535px;
                width: 100%;
                height: auto;
                object-fit: cover;
                object-position: center;

                &::before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    bottom: -1%;
                    right: 50%;
                    transform: translateX(50%);
                    background: #C136F39C;
                    filter: blur(200px);
                    border-radius: 50%;
                    width: 316px;
                    height: 316px;

                    @include media ("<tablet") {
                        bottom: 40%;
                        filter: blur(35px);
                        width: 180px;
                        height: 160px;

                    }

                    [data-theme="light"] & {
                        display: none;
                    }
                }

                @include media ("<tablet") {
                    max-width: 95%;
                    width: 50%;
                    bottom: 15%;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 45%;
                        background: linear-gradient(0deg, #1C1C1C 50.09%, rgba(28, 28, 28, 0.7) 63.5%, rgba(28, 28, 28, 0) 96.94%);


                        [data-theme="light"] & {
                            background: linear-gradient(0deg, #FFFFFF 49.42%, rgba(255, 255, 255, 0.7) 58.41%, rgba(255, 255, 255, 0) 80.85%);
                        }
                    }
                }

                @include media ("<phone") {
                    max-width: 70%;
                    width: 100%;
                }

                @include media ("<410px") {
                    max-width: 90%;
                    bottom: 10%;
                }
            }

            .cards-middle__text {
                &.bottom-text {
                    max-width: 531px;
                    width: 100%;

                    @include media ("<phone") {
                        max-width: 245px;
                        margin: 0 auto;
                    }

                    br {
                        display: none;

                        @include media ("<phone") {
                            display: block;
                        }
                    }
                }
            }
        }

        &:nth-child(2) {
            flex: 1 1 636px;
            height: 636px;

            @include media ("<tablet") {
                flex: auto;
                height: 452px;
                text-align: center;
                padding-bottom: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .cards-middle__img {
                position: absolute;
                bottom: 0;
                right: 50%;
                transform: translateX(50%);
                max-width: 546px;
                width: 100%;
                height: auto;

                @include media ("<tablet") {
                    display: block;
                    transform: none;
                    position: static;
                    margin-top: auto;
                }
            }

            .cards-middle__text {

                &.top-text {
                    @include media ("<phone") {
                        max-width: 177px;
                        width: 100%;
                        margin: 0 auto 4px auto;
                    }
                }

                &.bottom-text {
                    max-width: 433px;
                    width: 100%;

                    @include media ("<tablet") {
                        margin: 0 auto;
                    }

                    @include media ("<phone") {
                        max-width: 283px;
                    }
                }
            }
        }

        &:nth-child(3) {
            flex: 1 1 742px;
            height: 424px;

            @include media ("<tablet") {
                flex: auto;
                height: 452px;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                overflow: visible;
                text-align: center;
            }

            .cards-middle__img {
                position: absolute;
                z-index: 1;
                bottom: 0;
                right: 0;
                max-width: 695px;
                width: 65%;
                height: auto;
                object-fit: cover;
                object-position: center;

                @include media ("<tablet") {
                    max-width: 85%;
                    width: 50%;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 40%;
                        background: linear-gradient(0deg, #1C1C1C 50.09%, rgba(28, 28, 28, 0.7) 63.5%, rgba(28, 28, 28, 0) 96.94%);

                        [data-theme="light"] & {
                            background: linear-gradient(0deg, #FFFFFF 49.42%, rgba(255, 255, 255, 0.7) 58.41%, rgba(255, 255, 255, 0) 80.85%);
                        }
                    }
                }

                @include media ("<phone") {
                    width: 100%;
                    bottom: 12%;
                }

                &::before {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    bottom: -1%;
                    right: 50%;
                    transform: translateX(50%);
                    background: #C136F39C;
                    filter: blur(200px);
                    border-radius: 50%;
                    width: 316px;
                    height: 316px;

                    @include media ("<tablet") {
                        bottom: 30%;
                        filter: blur(65px);
                        width: 200px;
                        height: 160px;
                    }

                    [data-theme="light"] & {
                        display: none;
                    }
                }
            }

            .cards-middle__text {
                position: relative;
                z-index: 2;

                &.bottom-text {
                    max-width: 410px;

                    @include media ("<tablet") {
                        max-width: 325px;
                        padding: 0 25px;
                        margin: 0 auto;
                    }
                }
            }
        }

        &:nth-child(4) {
            flex: 1 1 530px;
            height: 424px;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                bottom: 0%;
                right: 50%;
                transform: translateX(50%);
                background: #C136F39C;
                filter: blur(200px);
                border-radius: 50%;
                width: 316px;
                height: 316px;

                @include media ("<tablet") {
                    bottom: 30%;
                    filter: blur(85px);
                    width: 200px;
                    height: 200px;
                }

                [data-theme="light"] & {
                    display: none;
                }
            }


            @include media ("<tablet") {
                flex: auto;
                height: 452px;
                text-align: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: auto;
                padding-bottom: 0;
            }

            .cards-middle__img {
                position: absolute;
                bottom: 0;
                right: 50%;
                transform: translateX(50%);
                max-width: 303px;
                width: 100%;
                height: auto;

                @include media ("<=tablet") {
                    display: block;
                    width: 100%;
                    bottom: auto;
                    right: auto;
                    transform: none;
                    margin-top: auto;
                    max-width: 280px;
                    position: relative;
                }

                @include media ("<phone") {
                    max-width: 85%;
                }


            }

            .cards-middle__text {

                &.bottom-text {
                    max-width: 410px;

                    @include media ("<tablet") {
                        max-width: 270px;
                        width: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

.cards-bottom {
    padding: 80px 0;

    @include media ("<tablet") {
        padding: 40px 0;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 0;

        @include media ("<tablet") {
            padding: 8px 8px 40px 8px;
        }

        @include media ("<tablet") {
            flex-direction: column;
            text-align: center;
            gap: 28px;
        }

        .cards__text {
            &:last-child {
                margin-bottom: 0;
            }
        }

        &:first-child {
            margin-bottom: 12px;

            .cards-bottom__img {
                max-width: 800px;
                width: 100%;
                border-radius: 30px;
                overflow: hidden;

                @include media ("<tablet") {
                    border-radius: 12px;
                }

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .cards__text-wrapper {
                max-width: 420px;
                width: 100%;
                padding: 14px;

                @include media ("<tablet") {
                    padding: 0 6px;
                }
            }

            .cards__text {
                &.bottom-text {
                    @include media ("<phone") {
                        max-width: 315px;
                        width: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }

        &:last-child {
            justify-content: space-between;
            padding: 80px 40px;

            @include media ("<tablet") {
                flex-direction: column-reverse;
                padding: 20px 8px 40px 8px;
            }

            .cards__text-wrapper {
                max-width: 420px;
                width: 100%;

                .cards__text {
                    br {
                        @include media ("<tablet") {
                            display: none;
                        }
                    }

                    &.bottom-text {
                        @include media ("<phone") {
                            max-width: 215px;
                            width: 100%;
                            margin: 0 auto;
                        }
                    }
                }
            }

            .cards-bottom__img {
                display: flex;
                align-items: center;
                justify-content: center;
                min-width: 250px;
                width: 250px;
                height: 250px;
                border-radius: 50%;
                margin-right: 80px;
                @include adaptive-value("margin-right", 80, 0, 1);
                border: 4px solid $pink;
                background: #C136F314;
                box-shadow: 0px 0px 30px 5px #B3B3B380 inset;

                @include media ("<tablet") {
                    margin: 0;
                }

                img {
                    width: 80%;
                    height: 80%;
                }
            }
        }

    }

    &__text {
        &.top-text {
            @include adaptive-value("font-size", 26, 16, 1);
        }

        &.bottom-text {
            @include adaptive-value("font-size", 26, 14, 1);
        }
    }
}