.fees {
    position: relative;
    padding: 80px 0 95px 0;

    @include media ("<tablet") {
        padding: 50px 0 30px 0;
    }

    &__border {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 960px;
        width: 100%;
        height: auto;
        z-index: -1;


        @include media ("<tablet") {
            height: 364px;
            object-fit: cover;
        }

    }

    &__title {
        @include adaptive-value("font-size", 56, 24, 1);
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -1.5px;
        text-align: center;
        color: transparent;
        @include gradient-text;

        &.mob {
            display: none;

            @include media ("<phone") {
                display: block;
            }
        }

        &.desk {
            @include media ("<phone") {
                display: none;
            }
        }
    }

    &__img {
        display: block;
        max-width: 610px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        overflow: hidden;

        &.light {
            display: none;
        }

        [data-theme="light"] & {
            &.dark {
                display: none;
            }

            &.light {
                display: block;
            }
        }

        &::before {
            content: '';
            position: absolute;
            bottom: -8%;
            left: 0;
            width: 100%;
            height: 25%;
            background: linear-gradient(0deg, #121212 32.04%, rgba(18, 18, 18, 0.7) 50.41%, rgba(18, 18, 18, 0) 96.25%);

            [data-theme="light"] & {
                background: linear-gradient(0deg, #F7F7F7 32.04%, rgba(247, 247, 247, 0.7) 50.41%, rgba(247, 247, 247, 0) 96.25%);

            }
        }
    }

    &__text {
        max-width: 815px;
        width: 100%;
        margin: 0 auto;
        @include adaptive-value("font-size", 26, 14, 1);
        font-weight: 500;
        line-height: 120%;
        text-align: center;
        color: #E8E8E8;

        [data-theme="light"] & {
            color: $gray;
        }

        &.mob {
            display: none;

            @include media ("<phone") {
                display: block;
            }
        }

        &.desk {
            @include media ("<phone") {
                display: none;
            }
        }

        &.top-text {
            @include adaptive-value("font-size", 22, 16, 1);
            color: #E8E8E8;
            max-width: 280px;
            width: 100%;
            margin: 0 auto 8px auto;

            [data-theme="light"] & {
                color: $black-text;
            }
        }

        &.bottom-text {
            color: $gray;
        }
    }

}