.footer {
    padding: 15px 0;

    &__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        gap: 28px;

        @include media ("<tablet") {
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }

    &__logo {
        width: 53px;
        height: 53px;
        border-radius: 50%;
        background: #FFFFFF14;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        box-shadow: 0px 4px 6px 0px #4C146814;

        @include media ("<tablet") {
            order: 1;
            width: 75px;
            height: 75px;
        }

        img{
            width: 55%;
            height: 55%;
        }

        &::before {
            content: '';
            position: absolute;
            border-radius: 50%;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0px 0px 3.5px 0px #F2F2F233 inset;
        }
    }

    &__pig {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 120px;
        width: 100%;
        margin: 0 auto;

        @include media ("<tablet") {
            order: 3;
            max-width: 110px;
        }

        &.light {
            display: none;
        }

        [data-theme="light"] & {
            &.dark {
                display: none;
            }

            &.light {
                display: flex;
            }
        }
    }

    &__social {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 6px;

        @include media ("<tablet") {
            margin: 0 auto;
            order: 2;
            gap: 31px;
        }
    }

    &__social-link {
        width: 47px;
        height: 47px;
    }

    &__creator-link {
        display: block;
        width:max-content;
        margin: 30px auto 0 auto;
    }

    &__creator-text {
        display: flex;
        align-items: center;
        gap: 6px;
        font-size: 18px;
        font-weight: 300;
        text-transform: uppercase;

        [data-theme="light"] & {
            color: $pink;
        }
    }

    &__creator-logo {
        max-width: 92px;
        transform: translateY(-3px);

        &.light {
            max-width: 100%;
        }
    }
}