.future {
    position: relative;
    padding: 100px 0;

    @include media ("<tablet") {
        padding: 75px 0 95px 0;
    }

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 35%;
        height: 40%;
        background: #C136F39C;
        filter: blur(200px);

        [data-theme="light"] & {
            display: none;
        }
    }

    &__img {

        &.img-1 {
            display: block;
            @include adaptive-value("max-width", 490, 200, 1);
            width: 100%;
            margin: 0 auto;
            @include adaptive-value("margin-bottom", 220, 110, 1);

            &.light {
                display: none;
            }

            [data-theme="light"] & {
                &.dark {
                    display: none;
                }

                &.light {
                    display: block;
                }
            }
        }

        &.img-2 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            max-width: 970px;
            width: 100%;


            @include media ("<tablet") {
                height: 190px;
                top: 45%;
            }

            &::after {
                content: '';
                position: absolute;
                z-index: -1;
                top: 40%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 40%;
                height: 50%;
                border-radius: 50%;
                background: rgba(193, 54, 243, 1);
                filter: blur(40px);

                @include media ("<tablet") {
                    width: 55%;
                    height: 55%;
                    filter: blur(20px);
                }

                [data-theme="light"] & {
                    display: none;
                }
            }

            &.light {
                display: none;
            }

            [data-theme="light"] & {
                &.dark {
                    display: none;
                }

                &.light {
                    display: block;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__content {
        max-width: 570px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 1;
    }

    &__title {
        @include gradient-text;
        @include adaptive-value("font-size", 40, 24, 1);
        font-weight: 600;
        line-height: 120%;
        text-align: center;
        @include adaptive-value("margin-bottom", 20, 14, 1);
    }

    &__text {
        @include adaptive-value("font-size", 26, 14, 1);
        font-weight: 500;
        line-height: 120%;
        text-align: center;
        @include adaptive-value("margin-bottom", 52, 24, 1);
        color: $gray;

        @include media ("<tablet") {
            max-width: 275px;
            width: 100%;
            margin: 0 auto 24px auto;
        }
    }

    &__button {
        margin: 0 auto;

        @include media ("<tablet") {
            padding: 12px 24px;
            background: #F95DB4CC;
            border-radius: 999px;
            border: none;
            box-shadow: 0px 4px 23.2px 0px #FA5EB582;
            letter-spacing: -0.03em;

            span {
                display: none;
            }

            [data-theme="light"] & {
                background: $black-bg;
                color: $white-text;
                box-shadow: none;
            }
        }
    }
}