.hero {
    padding: 88px 0 70px 0;

    @include media ("<tablet") {
        padding-top: 14px;
        padding-bottom: 74px;
    }

    .container {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 7%;
            width: 474px;
            height: 474px;
            border-radius: 50%;
            background: #C136F39C;
            filter: blur(634px);
            z-index: -1;
        }
    }

    &__bg {
        position: absolute;
        top: -17%;
        right: 4%;
        max-width: 640px;
        width: 50%;
        height: auto;

        @include media ("<desktop") {
            z-index: -1;
            right: auto;
            left: 0;
            max-width: 290px;
            width: 100%;
            top: 5%;
        }

        @include media ("<phone") {
            left: -1%;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__icon {
        position: absolute;
        z-index: -2;
        top: 20%;
        right: 12%;
        width: 60px;
        height: 60px;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0px 0px 3px 0px #F2F2F233 inset;
        display: flex;
        align-items: center;
        justify-content: center;
        filter: drop-shadow(0px 4px 6px #4C146814);
        background: rgba(255, 255, 255, 0.08);

        [data-theme="light"] & {
            border: 1px solid $white-text;
            background: rgba(255, 255, 255, 0.08);
            box-shadow: 0px 0px 3px 0px #F2F2F233;
        }

        img{
            width: 70%;
            height: 70%;
            object-fit: contain;
        }

        @include media ("<desktop") {
            display: none;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        max-width: 835px;
        width: 100%;

        @include media ("<desktop") {
            max-width: 100%;
            text-align: center
        }
    }

    &__title {
        @include adaptive-value("font-size", 160, 65, 1);
        line-height: 89%;
        letter-spacing: -1.5px;
        margin-bottom: 66px;

        i{
            font-style: normal;
            font-family: 'Cookie';
            font-size: 160px;
        }

        @include media ("<desktop") {
            margin-bottom: 265px;
            text-align: end;
            order: 1;
        }

        span {
            color: $pink;
            text-shadow: -6px 6px 0px rgba(#FF51D3, 0.5);
        }
    }

    &__subtitle {
        @include adaptive-value("font-size", 40, 24, 1);
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -1.5px;
        @include adaptive-value("margin-bottom", 14, 10, 1);

        @include media ("<desktop") {
            order: 3
        }
    }

    &__text {
        @include adaptive-value("font-size", 26, 14, 1);
        font-weight: 500;
        line-height: 120%;
        max-width: 600px;
        width: 100%;
        @include adaptive-value("margin-bottom", 26, 14, 1);

        @include media ("<desktop") {
            margin: 0 auto 14px auto;
            order: 4;
        }

        [data-theme="light"] & {
            color: $gray;
        }
    }

    &__button {
        margin-bottom: 65px;
        width: max-content;

        @include media ("<desktop") {
            margin: 0 auto;
            order: 5;
        }
    }

    &__labels {
        display: flex;
        align-items: center;
        gap: 18px;

        @include media ("<desktop") {
            order: 2;
            justify-content: center;
            margin-bottom: 35px;
        }

        @include media ("<tablet") {
            gap: 10px;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        gap: 6px;
        border: 1px solid $pink;
        border-radius: 16px;
        padding: 14px 18px;
        backdrop-filter: blur(10px);

        @include media ("<tablet") {
            padding: 7px 10px;
            border-radius: 9px;
            gap: 3px;
        }

        img {
            width: 24px;
            height: 24px;

            @include media ("<tablet") {
                width: 14px;
                height: 14px;
            }
        }

        span {
            margin-top: 1px;
            @include adaptive-value("font-size", 18, 9, 1);
            font-weight: 500;
            line-height: 120%;
        }
    }
}