.launch {
    padding: 20px 0;
    text-align: center;

    .container {
        position: relative;
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 110px;
        padding-right: 110px;
        @include adaptive-value("padding-right", 135, 35, 1);
        @include adaptive-value("padding-left", 135, 35, 1);
        @include adaptive-value("padding-top", 140, 72, 1);
        @include adaptive-value("padding-bottom", 110, 52, 1);
    }

    &__content {
        padding: 70px 10px;
        background-color: var(--color-bg-secondary);

        @include media ("<phone") {
            padding: 25px 8px 40px 8px;
        }
    }

    &__frame {
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__sublabel {
        font-weight: 500;
        line-height: 120%;
        text-align: center;
        color: $gray;
        @include adaptive-value("margin-bottom", 18, 10, 1);
        display: inline-block;

        [data-theme="light"] & {
            background: linear-gradient(278.03deg, #686868 11.66%, #000000 70.92%);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }
    }

    &__subtitle {
        @include adaptive-value("font-size", 40, 22, 1);
        font-weight: 500;
        line-height: 120%;
        text-align: center;
        color: var(--color-text-primary);
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        @include adaptive-value("margin-bottom", 53, 40, 1);

        br {
            display: none;

            @include media ("<phone") {
                display: block;
            }
        }
    }

    &__img-wrapper {
        position: relative;
    }

    &__img-text-wrapper {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) rotate(4deg);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        border: 1px solid $violet;
        width: max-content;
        padding: 30px;
        @include adaptive-value("padding", 30, 17, 1);
        border-radius: 97px;
        backdrop-filter: blur(20px);
        background: rgba(0, 0, 0, 0.53);

        [data-theme="light"] & {
            border-color: $pink;
            background: rgba(255, 255, 255, 0.53);
        }

        img {
            width: 46px;
            height: 51px;

            @include media ("<tablet") {
                width: 21px;
                height: 23px;
            }
        }

        span {
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),
                linear-gradient(142.93deg, #FFB2EB 15.16%, #FF51D3 95.7%);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            font-weight: 600;
            line-height: 120%;
            text-align: center;
            @include adaptive-value("font-size", 56, 22, 1);
            text-transform: uppercase;

            [data-theme="light"] & {
                background: #F95DB4CC;
                color: transparent;
                -webkit-background-clip: text;
                background-clip: text;
            }
        }
    }

    &__img {
        display: block;
        max-width: 510px;
        width: 100%;
        margin: 0 auto;
        @include adaptive-value("margin-bottom", 33, 20, 1);
    }

    &__labels {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 18px;
        @include adaptive-value("margin-bottom", 36, 28, 1);

        @include media ("<desktop") {
            order: 2;
            justify-content: center;
            margin-bottom: 35px;
        }

        @include media ("<tablet") {
            gap: 10px;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        gap: 6px;
        border: 1px solid $pink;
        border-radius: 16px;
        padding: 14px 18px;
        backdrop-filter: blur(10px);

        @include media ("<tablet") {
            padding: 7px 8px;
            border-radius: 9px;
            gap: 3px;
        }

        img {
            width: 24px;
            height: 24px;

            @include media ("<tablet") {
                width: 14px;
                height: 14px;
            }
        }

        span {
            margin-top: 1px;
            @include adaptive-value("font-size", 18, 9, 1);
            font-weight: 500;
            line-height: 120%;
        }
    }

    &__title {
        @include adaptive-value("font-size", 56, 18, 1);
        font-weight: 500;
        line-height: 120%;
        text-align: center;
        color: var(--color-text-primary);
        max-width: 930px;
        width: 100%;
        margin: 0 auto;
        @include adaptive-value("margin-bottom", 30, 8, 1);

        @include media ("<phone") {
            max-width: 320px
        }
    }

    &__text {
        @include adaptive-value("font-size", 26, 14, 1);
        font-weight: 500;
        line-height: 120%;
        text-align: center;
        color: $gray;
        max-width: 500px;
        width: 100%;
        margin: 0 auto;
        @include adaptive-value("margin-bottom", 60, 40, 1);

        @include media ("<phone") {
            max-width: 285px
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width: max-content;
        margin: 0 auto;
        @include adaptive-value("margin-bottom", 20, 10, 1);
        @include adaptive-value("padding-top", 28, 14, 1);
        @include adaptive-value("padding-bottom", 28, 14, 1);
        @include adaptive-value("padding-left", 18, 12, 1);
        @include adaptive-value("padding-right", 18, 12, 1);
        border-radius: 1187px;
        background: linear-gradient(125.79deg, #8C421D 0.58%, #FBE67B 32.51%, #FCFBE7 53.14%, #F7D14E 76.15%, #D4A041 98.73%);

        img {
            @include adaptive-value("width", 32, 24, 1);
            @include adaptive-value("height", 32, 24, 1);
        }

        span {
            color: $black-text;
            font-weight: 700;
            line-height: 120%;
            text-align: center;
            @include adaptive-value("font-size", 30, 14, 1);
            text-transform: uppercase;
        }
    }

    &__text-bottom {
        @include adaptive-value("font-size", 18, 14, 1);
        font-weight: 500;
        line-height: 120%;
        text-align: center;
        color: $gray;
        max-width: 265px;
        width: 100%;
        margin: 0 auto;

        @include media ("<tablet") {
            max-width: 205px;
        }
    }
}