.meet {
    padding: 80px 0;
    position: relative;

    @include media ("<tablet") {
        padding: 50px 0 40px 0;
    }

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30%;
        height: 30%;
        background: #C136F39C;
        filter: blur(200px);
    }

    &.active {
        .meet__border {
            transform: translate(-50%, -45%) rotateX(180deg);
            transition: transform 0.3s ease-in-out;
        }
    }

    .container {
        position: relative;
    }

    &__border {
        position: absolute;
        z-index: -1;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 1100px;
        width: 100%;
        height: auto;
        transition: transform 0.3s ease-in-out;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        @include adaptive-value("font-size", 56, 24, 1);
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -1.5px;
        text-align: center;
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
        @include gradient-text;
        @include adaptive-value("margin-bottom", 60, 40, 1);

        &-span-gray {

            background: #828282;
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }

        &-span-pink {
            color: #C136F3 !important;
            -webkit-text-fill-color: #C136F3 !important;

            [data-theme="light"] & {
                color: $pink !important;
                -webkit-text-fill-color: $pink !important;
            }
        }
    }

    &__img {
        display: block;
        max-width: 1140px;
        width: 100%;
        margin: 0 auto;

        @include media ("<phone") {
            margin-bottom: 25px;
        }

        &.light {
            display: none;
        }

        [data-theme="light"] & {
            &.dark {
                display: none;
            }

            &.light {
                display: block;
            }
        }
    }

    &__text {
        &.top-text {
            @include adaptive-value("font-size", 26, 18, 1);
            font-weight: 500;
            line-height: 120%;
            text-align: center;
            color: #E8E8E8;
            max-width: 765px;
            width: 100%;
            margin: 0 auto;
            @include adaptive-value("margin-bottom", 16, 8, 1);

            [data-theme="light"] & {
                color: $black-text;
            }

            @include media ("<phone") {
                max-width: 343px;
            }
        }

        &.bottom-text {
            @include adaptive-value("font-size", 26, 14, 1);
            font-weight: 500;
            line-height: 120%;
            text-align: center;
            color: $gray;
            max-width: 525px;
            width: 100%;
            margin: 0 auto;

            @include media ("<phone") {
                max-width: 300px;
            }
        }
    }
}