.mention {
    @include adaptive-value("padding-top", 120, 90, 1);
    position: relative;
    overflow: hidden;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 35%;
        background: linear-gradient(0deg, #121212 0%, rgba(18, 18, 18, 0) 60.58%);

        [data-theme="light"] & {
            background: linear-gradient(0deg, #F7F7F7 0%, rgba(247, 247, 247, 0) 60.58%);

        }
    }

    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        bottom: -115%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #C136F39C;
        filter: blur(300px);
        max-width: 1050px;
        width: 80%;
        height: auto;
        aspect-ratio: 3 / 2;

        @include media ("<tablet") {
            filter: blur(125px);
            bottom: -50%;
        }

    }

    &__line {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        object-fit: cover;
        z-index: -1;
        pointer-events: none;
        max-width: 950px;
        width: 180%;
    }

    &__content {
        text-align: center;
        max-width: 725px;
        width: 100%;
        margin: 0 auto;
        @include adaptive-value("margin-bottom", 75, 40, 1);
    }

    &__title {
        @include adaptive-value("font-size", 26, 18, 1);
        font-weight: 600;
        line-height: 120%;
        margin-bottom: 16px;

        br {
            display: none;

            @include media ("<tablet") {
                display: block;
            }
        }
    }

    &__text {
        @include adaptive-value("font-size", 26, 14, 1);
        font-weight: 500;
        line-height: 120%;
        color: $gray;
        
        @include media ("<phone") {
            max-width: 310px;
            width: 100%;
            margin: 0 auto;
            text-align: center;
        }
    }

    &__img {
        display: block;
        max-width: 1185px;
        width: 100%;
        margin: 0 auto;

        &.light {
            display: none;
        }

        [data-theme="light"] & {
            &.dark {
                display: none;
            }

            &.light {
                display: block;
            }
        }

        @include media ("<tablet") {
            @include adaptive-value("height", 320, 250, 1);
        }

        img {
            width: 100%;
            height: 100%;
            object-position:  top center;

            @include media ("<tablet") {
                object-fit: cover;
            }
        }
    }
}