.simple {
    padding: 20px 0;
    text-align: center;

    @include media ("<phone") {
        padding-top: 0;
    }

    .container {
        position: relative;
        padding-top: 70px;
        padding-bottom: 70px;
        padding-left: 110px;
        padding-right: 110px;
        @include adaptive-value("padding-right", 125, 35, 1);
        @include adaptive-value("padding-left", 125, 35, 1);
        @include adaptive-value("padding-top", 140, 72, 1);
        @include adaptive-value("padding-bottom", 115, 52, 1);
    }

    &__content {
        position: relative;
        z-index: 2;
        overflow: hidden;
        padding: 70px 10px;
        background-color: var(--color-bg-secondary);

        @include media ("<phone") {
            padding: 25px 5px;
        }
    }

    &__border {
        position: absolute;
        bottom: -10%;
        left: 50%;
        transform: translateX(-50%);
        width: 130%;
        pointer-events: none;

        @include media ("<phone") {
            height: 230px;
            bottom: 6%;
        }

        img {
            width: 100%;
            height: 100%;

            @include media ("<phone") {
                object-fit: cover;
            }
        }
    }

    &__frame {
        position: absolute;
        top: 10px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__title {
        @include adaptive-value("font-size", 56, 24, 1);
        font-weight: 500;
        line-height: 120%;
        color: var(--color-text-primary);
        margin-bottom: 0;
    }

    &__subtitle {
        @include adaptive-value("font-size", 40, 24, 1);
        font-weight: 500;
        line-height: 120%;
        text-align: center;
        @include gradient-text;
        margin-bottom: 14px
    }

    &__text {
        @include adaptive-value("font-size", 26, 14, 1);
        font-weight: 500;
        line-height: 120%;
        text-align: center;
        color: $gray;
        width: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 1;

        &.text-1 {
            max-width: 685px;

            br{
                display: none;

                @include media ("<phone") {
                    display: block;
                }
            }
        }

        &.text-2 {
            max-width: 430px;
            @include adaptive-value("margin-bottom", 40, 25, 1);
        }
    }

    &__img {
        display: block;
        max-width: 650px;
        width: 100%;
        margin: 0 auto;
        @include adaptive-value("margin-top", -25, -15, 1);
        @include adaptive-value("margin-bottom", 30, 10, 1);

        &.light {
            display: none;

            [data-theme="light"] & {
                display: block;
                margin-top: -25px;
            }
        }

        &.dark {
            display: block;

            [data-theme="light"] & {
                display: none;
            }
        }
    }

    &__img-2 {
        display: block;
        max-width: 380px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        z-index: 2;

        @include media ("<phone") {
            max-width: 260px;
        }


        &.light {
            display: none;
        }

        [data-theme="light"] & {
            &.dark {
                display: none;
            }

            &.light {
                display: block;
            }
        }
    }

    &__footer {
        position: relative;
        z-index: 2;
    }

    &__button {
        margin: 0 auto;
        @include adaptive-value("font-size", 18, 12, 1);
    }
}