.swipe {
    padding-top: 140px;
    height: 100dvh;
    overflow: hidden;
    transition: height 0.3s ease-in-out;

    @include media ("<tablet") {
        padding: 40px 0;
    }

    &.active {
        height: auto;

        .swipe__content {
            margin-bottom: -20%;

            @include media ("<tablet") {
                margin-bottom: -30%;
            }
        }

        .img-1 {
            transform: rotate(6deg) translateY(5%);

            &::before {
                display: none;
            }
        }

        .img-2 {
            transform: rotate(-3.6deg) translateY(-30%);
        }

        .img-3 {
            transform: rotate(15deg) translateY(-70%) translateX(-12%);
        }
    }

    &__title {
        @include adaptive-value("font-size", 56, 24, 1);
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -1.5px;
        text-align: center;
        max-width: 570px;
        width: 100%;
        margin: 0 auto;
        @include gradient-text;
        margin-bottom: 20px;
    }

    &__text {
        @include adaptive-value("font-size", 26, 14, 1);
        font-weight: 500;
        line-height: 120%;
        text-align: center;
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
        @include adaptive-value("margin-bottom", 80, 40, 1);
        color: $gray;
    }

    &__content {
        position: relative;
        max-width: 1030px;
        width: 100%;
        margin: 0 auto;
    }

    &__img {
        display: block;
        position: relative;

        width: 90%;
        margin: 0 auto;

        &.light {
            display: none;
        }

        [data-theme="light"] & {
            &.dark {
                display: none;
            }

            &.light {
                display: block;
            }
        }

        &.img-1 {
            z-index: 3;

            &::before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 60%;
                background: linear-gradient(0deg, #121212 30%, rgba(18, 18, 18, 0) 100%);
            }
        }

        &.img-2 {
            z-index: 2;
        }

        &.img-3 {
            z-index: 1;
        }

        transition: transform 0.18s linear,
        opacity 0.18s linear;

        img {
            width: 100%;
            height: 100%;
        }
    }


}