.wallet-top {
    padding-top: 40px;
    position: relative;
    overflow: hidden;

    &::before {
        content: '';
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #C136F39C;
        filter: blur(150px);
        border-radius: 50%;
        width: 40%;
        height: 40%;
        z-index: -1;
        pointer-events: none;

        [data-theme="light"] & {
            display: none;
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(0deg, #121212 0%, rgba(18, 18, 18, 0) 60.58%);
        width: 100%;
        height: 35%;
        z-index: 1;
        pointer-events: none;

        [data-theme="light"] & {
            background: linear-gradient(0deg, #F7F7F7 0%, rgba(247, 247, 247, 0) 60.58%);
        }
    }

    .container {
        position: relative;
        height: 100%;
    }

    &__big-text {
        @include adaptive-value("font-size", 200, 52, 1);
        color: transparent;
        background: linear-gradient(180deg, #C136F3 -66.94%, #121212 87.63%);

        -webkit-background-clip: text;
        background-clip: text;
        text-align: center;
        position: absolute;
        z-index: -1;
        text-transform: uppercase;
        font-weight: 600;
        font-family: 'Poppins', serif;

        [data-theme="light"] & {
            background: linear-gradient(180deg, #F5A2ED -66.94%, #F7F7F7 87.63%);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
        }

        &.text-1 {
            top: 45%;
            left: 0;

            @include media ("<tablet") {
                top: 60%;
            }
        }

        &.text-2 {
            bottom: 0;
            right: 0;

            @include media ("<tablet") {
                bottom: 10%;
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__starline {
        @include media ("<phone") {
            margin-bottom: -4%;
        }
    }

    &__title {
        @include adaptive-value("font-size", 26, 18, 1);
        font-weight: 600;
        line-height: 120%;
        text-align: center;
        max-width: 605px;
        width: 100%;
        margin: 0 auto;
        @include gradient-text;
        margin-bottom: 40px;

        @include media ("<phone") {
            max-width: 320px;
        }
    }


    &__img {
        max-width: 520px;
        width: 55%;
        margin: 0 auto;

        &.light {
            display: none;
        }

        [data-theme="light"] & {
            &.dark {
                display: none;
            }

            &.light {
                display: block;
            }
        }


        img {
            width: 100%;
            height: 100%;
        }
    }
}

.wallet-middle {
    padding: 60px 0;
    position: relative;

    @include media ("<phone") {
        padding: 80px 0 35px 0;
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #C136F39C;
        filter: blur(125px);
        border-radius: 50%;
        width: 38%;
        height: 40%;
        z-index: -1;
        pointer-events: none;

        [data-theme="light"] & {
            display: none;
        }
    }

    .container {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 30%;
            height: 50%;
            background: linear-gradient(90deg, #121212 2.55%, rgba(18, 18, 18, 0) 99.92%);

            z-index: 1;

            [data-theme="light"] & {
                background: linear-gradient(90deg, #F7F7F7 2.55%, rgba(247, 247, 247, 0) 99.92%);
            }
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 30%;
            height: 50%;
            background: linear-gradient(270deg, #121212 2.55%, rgba(18, 18, 18, 0) 99.92%);

            z-index: 1;

            [data-theme="light"] & {
                background: linear-gradient(270deg, #F7F7F7 2.55%, rgba(247, 247, 247, 0) 99.92%);
            }
        }
    }

    &__img-list-wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        z-index: -1;
    }

    &__title {
        @include adaptive-value("font-size", 56, 24, 1);
        font-weight: 500;
        line-height: 120%;
        text-align: center;
        letter-spacing: -1.5px;
        @include gradient-text;
        @include adaptive-value("margin-bottom", 50, 30, 1);
    }

    &__img {
        display: block;
        max-width: 488px;
        width: 50%;
        margin: 0 auto;
        @include adaptive-value("margin-bottom", 50, 30, 1);

        &.light {
            display: none;
        }

        [data-theme="light"] & {
            &.dark {
                display: none;
            }

            &.light {
                display: block;
            }
        }
    }

    &__text {
        &.top-text {
            @include adaptive-value("font-size", 26, 18, 1); 
            font-weight: 600;
            line-height: 120%;
            text-align: center;
            color: #E8E8E8;
            max-width: 480px;
            width: 100%;
            margin: 0 auto;
            @include adaptive-value("margin-bottom", 16, 8, 1);

            [data-theme="light"] & {
                color: $black-text;
            }

            @include media ("<phone") {
                max-width: 330px
            }
        }


        &.bottom-text {
            @include adaptive-value("font-size", 26, 14, 1);
            font-weight: 500;
            line-height: 120%;
            text-align: center;
            color: $gray;
            max-width: 755px;
            width: 100%;
            margin: 0 auto;

            @include media ("<phone") {
                max-width: 350px;
            }
        }
    }
}

.wallet-bottom {
    padding: 80px 0 90px 0;
    position: relative;
    overflow: hidden;

    @include media ("<tablet") {
        padding: 35px 0 50px 0;
    }

    &::before {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        background: linear-gradient(180deg, #121212 38%, rgba(18, 18, 18, 0) 75%);
        width: 100%;
        height: 100%;

        [data-theme="light"] & {
            background: linear-gradient(180deg, #F7F7F7 33.98%, rgba(247, 247, 247, 0) 75%);
        }
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        background: #C136F39C;
        filter: blur(630px);
        border-radius: 50%;
        width: 38%;
        height: 62%;
        z-index: -1;
        pointer-events: none;

        [data-theme="light"] & {
            display: none;
        }
    }

    .container {
        position: relative;
    }

    &__border {
        position: absolute;
        bottom: 6%;
        left: 0;
        width: 100%;
        height: auto;
        z-index: -1;
        object-fit: cover;
        rotate: 180deg;
    }

    &__content {
        max-width: 725px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    &__title {
        @include adaptive-value("font-size", 26, 18, 1);
        font-weight: 600;
        line-height: 120%;
        text-align: center;
        @include gradient-text;
        @include adaptive-value("margin-bottom", 16, 8, 1);
        position: relative;
        z-index: 2;

        @include media ("<tablet") {
            max-width: 237px;
            width: 100%;
            margin: 0 auto 8px auto;
        }
    }

    &__text {
        @include adaptive-value("font-size", 26, 14, 1);
        font-weight: 500;
        line-height: 120%;
        text-align: center;
        color: $gray;
        position: relative;
        z-index: 2;

        @include media ("<tablet") {
            max-width: 290px;
            width: 100%;
            margin: 0 auto;
        }
    }

    &__img {
        display: block;
        position: relative;
        z-index: -1;
        max-width: 635px;
        width: 100%;
        margin: 0 auto;
        @include adaptive-value("margin-top", -150, -10, 1);

        @include media ("<desktop") {
            width: 55%;
        }

        &.light {
            display: none;
        }

        [data-theme="light"] & {
            &.dark {
                display: none;
            }

            &.light {
                display: block;
            }
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}