<div class="popup" id="done-popup">
    <picture class="popup__bg">
        <source srcset="./images/starline-mob.webp" media="(max-width: 480px)" type="image/webp">
        <img src="./images/starline.webp" alt="image not found">
    </picture>
    <div class="popup__close">
        <span></span>
        <span></span>
    </div>
    <div class="popup__inner">
        <div class="popup__content">
            <h2>You’re in!</h2>
            <p>We’ll email you when <br> PinkWallet is ready.</p>
        </div>
    </div>
</div>