<header id="header" class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo-track">
                <div class="header__logo wow animate__animated animate__fadeInLeft">
                    <img src="/images/logo.svg" alt="logo">
                </div>
            </div>
            <div class="header__menu">
                <button class="header__theme-switcher wow animate__animated animate__fadeInDown" id="theme-toggle" aria-label="Toggle theme" data-wow-delay="0.2s">
                    <span class="header__theme-switcher-label">
                        <span class="header__theme-switcher-icon header__theme-switcher-icon--moon">
                            <img src="/images/moon.svg" alt="Dark theme">
                        </span>
                        <span class="header__theme-switcher-icon header__theme-switcher-icon--sun">
                            <img src="/images/sun.svg" alt="Light theme">
                        </span>
                    </span>
                </button>
                <div class="header__menu-buttons-wrapper">
                    <button class="header__menu-button wow animate__animated animate__fadeInRight" data-wow-delay="0.3s" data-join-waitlist>
                        Join waitlist
                    </button>
                    <a href="#" target="_blank" class="header__menu-link wow animate__animated animate__fadeInRight" data-wow-delay="0.4s">
                        <img src="/images/launch-icon-5.svg" alt="image not found">
                        <span>Win 0.33 BTC</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>