<header id="header" class="header wow animate__animated animate__fadeInDown">
    <div class="container">
        <div class="header__inner">
            <div class="header__logo-track">
                <div class="header__logo ">
                    <img src="/images/logo.svg" alt="logo">
                </div>
            </div>
            <div class="header__menu">
                <button class="header__theme-switcher" id="theme-toggle" aria-label="Toggle theme">
                    <span class="header__theme-switcher-label">
                        <span class="header__theme-switcher-icon header__theme-switcher-icon--moon">
                            <img src="/images/moon.svg" alt="Dark theme">
                        </span>
                        <span class="header__theme-switcher-icon header__theme-switcher-icon--sun">
                            <img src="/images/sun.svg" alt="Light theme">
                        </span>
                    </span>
                </button>
                <div class="header__apps">
                    <a href="#" target="_blank" class="header__app">
                        <img class="dark" src="/images/app-store-dark.svg" alt="App Store">
                        <img class="light" src="/images/app-store-light.svg" alt="App Store">
                    </a>
                    <a href="#" target="_blank" class="header__app">
                        <img class="dark" src="/images/google-play-dark.svg" alt="Google Play">
                        <img class="light" src="/images/google-play-light.svg" alt="Google Play">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>