<div class="store-buttons{{#if class}} {{class}}{{/if}}"{{#if delay}} data-wow-delay="{{delay}}"{{/if}}>
    <button class="store-buttons__btn" data-popup="google-store-popup" type="button">
        <img class="light" src="/images/google-play-btn-light.svg" alt="Google Play">
        <img class="dark" src="/images/google-play-btn-dark.svg" alt="Google Play">
    </button>
    <button class="store-buttons__btn" data-popup="app-store-popup" type="button">
        <img class="light" src="/images/app-store-btn-light.svg" alt="App Store">
        <img class="dark" src="/images/app-store-btn-dark.svg" alt="App Store">
    </button>
    <a href="https://play.google.com/store/apps/details?id=com.pinkwallet.mobile&utm_source=na_Med" target="_blank" rel="noopener noreferrer" class="store-buttons__btn store-buttons__btn--link">
        <img class="light" src="/images/google-play-btn-light.svg" alt="Google Play">
        <img class="dark" src="/images/google-play-btn-dark.svg" alt="Google Play">
    </a>
    <a href="https://apps.apple.com/ua/app/pink-wallet-crypto-ai/id6762203790" target="_blank" rel="noopener noreferrer" class="store-buttons__btn store-buttons__btn--link">
        <img class="light" src="/images/app-store-btn-light.svg" alt="App Store">
        <img class="dark" src="/images/app-store-btn-dark.svg" alt="App Store">
    </a>
</div>
