<div class="popup" id="waitlist-popup">
    <picture class="popup__bg">
        <source srcset="./images/starline-mob.webp" media="(max-width: 480px)" type="image/webp">
        <img src="./images/starline.webp" alt="image not found">
    </picture>
    <div class="popup__close">
        <span></span>
        <span></span>
    </div>
    <div class="popup__inner">
        <div class="popup__content">
            <h2>Join the waitlist</h2>
            <p>Be first to try PinkWallet. <br> No spam. Just launch updates.</p>

            <form action="#" class="popup__form">
                <input type="email" placeholder="Enter your email">
                <button type="submit">
                    <img src="/images/arrow.svg" alt="arrow right">
                    <span>Join waitlist</span>
                </button>
            </form>
        </div>
    </div>
</div>