// forms
form,
fieldset {
	margin: 0;
	border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
//input[type='url'],
// input[type='date'],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	outline: none;
	box-sizing: border-box;
	border: 1px solid var(--color-form-border);
	color: var(--color-text-primary);
	background-color: var(--color-bg-secondary);
	transition: border-color var(--transition-speed),
	color var(--transition-speed),
	background-color var(--transition-speed);

	&:focus {
		border-color: var(--color-form-border-focus);
	}

	@include placeholder {
		color: var(--color-form-placeholder);
	}
}

input[attribute="value"] {}

select {
	-webkit-border-radius: 0;
}

textarea {
	vertical-align: top;
	resize: none;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
	font-family: $base-font-sans-serif;

	&:hover {}
}