// Typography

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");
@import url('https://fonts.googleapis.com/css?family=Cookie:regular');
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
    font-weight: bold;
    margin: 0 0 0.5em;
    color: var(--color-text-primary);
    transition: color var(--transition-speed);
}

h1,
.h1 {
    font-size: $h1-font-size;
}

h2,
.h2 {
    font-size: $h2-font-size;
}

h3,
.h3 {
    font-size: $h3-font-size;
}

h4,
.h4 {
    font-size: $h4-font-size;
}

h5,
.h5 {
    font-size: $h5-font-size;
}

h6,
.h6 {
    font-size: $h6-font-size;
}

p {
    margin: 0 0 1em;
}

a {
    color: var(--color-link);
    text-decoration: none;
    transition: color var(--transition-speed);

    &:hover,
    &:focus {
        color: var(--color-link-hover);
        text-decoration: none;
    }
}